/**This footer should be always on the bottom of the content or on the end of the viewport*/
.footer {
    background-color: var(--main-surf);
    color: var(--typo-common);
    position: sticky;
    top: 100%;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div_categories {
    display: flex;
    justify-content: space-between;

}

.col1, .col2, .col3 {
    flex: 1;
    text-align: center;
}


/* Add responsive styling for smaller screens if needed */
@media (max-width: 768px) {
    .div_categories {
        flex-direction: column;
    }
    .col1, .col2, .col3 {
        width: 100%;
        text-align: left; /* Adjust text alignment for smaller screens */
        margin-bottom: 10px; /* Add margin between columns */
    }
}